.contact {
  margin-top: 120px;

  @media screen and (max-width: 1000px) {
    margin-top: 100px;
  }

  &__top {
    width: 100%;
    height: 240px;
    background: linear-gradient(
      90.31deg,
      #103086 0.33%,
      rgb(12, 44, 125) 14.62%,
      #143798 41.41%,
      #0a2369 63.89%
    );
    display: flex;
    align-items: center;
    justify-content: center;

    @media screen and (max-width: 700px) {
      height: 180px;
    }

    @media screen and (max-width: 450px) {
      height: 150px;
    }
  }

  &__border {
    width: 100%;
    height: auto;
    margin-top: -200px;
    padding: 20px 0 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border: 2px solid $primary-color;

    @media screen and (max-width: 700px) {
      border: none;
      margin-top: -160px;
    }

    @media screen and (max-width: 500px) {
      border: none;
      margin-top: -150px;
    }

    @media screen and (max-width: 450px) {
      border: none;
      margin-top: -130px;
    }

    .border-title {
      font-family: "Dancing Script";
      font-weight: normal;
      font-size: 80px;
      color: #c8bdbd;
      text-align: center;

      @media screen and (max-width: 600px) {
        font-size: 70px;
      }

      @media screen and (max-width: 500px) {
        font-size: 60px;
      }

      @media screen and (max-width: 450px) {
        font-size: 50px;
      }
    }
  }

  .main-wrap {
    margin-top: 130px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    font-family: "Lato";

    @media screen and (max-width: 700px) {
      border: none;
      margin-top: 80px;
    }
  }

  .visit-showroom,
  .showroom-hours,
  .got-question {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

    &__title {
      font-weight: 500;
      font-size: 22px;

      @media screen and (max-width: 600px) {
        font-size: 20px;
      }
    }

    .content1,
    .content2 {
      font-weight: 300;
      font-size: 20px;

      @media screen and (max-width: 600px) {
        font-size: 18px;
      }
    }

    .work-time {
      font-weight: 300;
      font-size: 20px;

      @media screen and (max-width: 600px) {
        font-size: 18px;
      }
    }
  }

  .got-question__title {
    text-decoration: none;
    color: #000;

    @media screen and (max-width: 600px) {
      font-size: 18px;
    }
  }

  .got-question__text {
    font-weight: 300;
    font-size: 20px;

    @media screen and (max-width: 600px) {
      font-size: 18px;
    }
  }

  .form {
    width: 70%;
    margin-top: 50px;

    @media screen and (max-width: 860px) {
      width: 80%;
    }

    @media screen and (max-width: 750px) {
      width: 90%;
    }

    @media screen and (max-width: 700px) {
      width: 100%;
    }
  }

  .inputs-wrap {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    width: 100%;

    @media screen and (max-width: 700px) {
      flex-direction: column;
      gap: 0;
    }
  }

  .left-inputs,
  .right-inputs {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 50%;

    @media screen and (max-width: 700px) {
      width: 100%;
      gap: 0;
    }
  }

  .ant-form-item-label > label {
    font-size: 20px;
    font-weight: 600;

    @media screen and (max-width: 600px) {
      font-size: 18px;
    }
  }

  .after-show {
    display: none;

    @media screen and (max-width: 700px) {
      display: block;
    }
  }

  .before-show {
    @media screen and (max-width: 700px) {
      display: none;
    }
  }

  .first-name__input,
  .last-name__input,
  .e-mail__input,
  .phone-number__input {
    height: 50px;
    font-size: 19px;
    border-radius: 4px;
    border: 1px solid #ccc;

    @media screen and (max-width: 600px) {
      height: 40px;
      font-size: 18px;
    }

    &:focus {
      box-shadow: none;
      border: 1px solid $primary-color;
    }
  }

  .phone-number__input {
    // color: #b3b0b0;

    &:focus {
      color: $primary-color;
    }
  }

  .checkbox-wrap {
    margin-top: 30px;

    .row-wrap {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }

    .checkbox-text {
      font-size: 19px;
    }
  }

  .ant-checkbox {
    width: 24px;
    height: 24px;
  }

  .ant-checkbox-inner {
    width: 100% !important;
    height: 100% !important;

    &::after {
      width: 8px;
      height: 13px; 
    }
  }

  .message-wrap {
    margin-top: 50px;
  }

  .message-input {
    width: 50%;
    height: 200px;
    font-size: 18px;
    border: 1px solid #ccc;

    @media screen and (max-width: 600px) {
      width: 70%;
    }

    @media screen and (max-width: 400px) {
      width: 80%;
    }

    &:focus {
      box-shadow: none;
      border: 1px solid $primary-color;
    }
  }

  .button-wrap {
    padding-bottom: 30px;
    padding-top: 20px;
  }

  .submit__btn {
    width: 200px;
    height: 50px;
    border-radius: 3px;
    background-color: #fff;
    color: $primary-color;
    font-size: 22px;
    font-weight: 500;
    border: 1px solid $primary-color;

    &:hover {
      border: 1px solid $primary-color !important;
      color: #fff !important;
      background-color: $primary-color !important;
    }

    @media screen and (max-width: 600px) {
      font-size: 20px;
      height: 40px;
      width: 170px;
    }
  }

  .map-container {
    width: 100%;
    height: 500px;

    @media screen and (max-width: 845px) {
      height: 400px;
    }

    @media screen and (max-width: 600px) {
      height: 350px;
    }
  }
}
