.dashboard {
  width: 100%;

  &__swiper {
    position: relative;
  }

  .interior-design {
    &-body {
      width: 100%;
      position: absolute;
      bottom: 80px;
      z-index: 10;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 15px;
    }

    &-title {
      color: #fff;
      font-family: "Playfair Display SC";
      font-size: 30px;

      @media screen and (max-width: 1000px) {
        font-size: 26px;
      }

      @media screen and (max-width: 870px) {
        font-size: 23px;
      }

      @media screen and (max-width: 780px) {
        font-size: 20px;
      }

      @media screen and (max-width: 680px) {
        font-size: 17px;
      }

      @media screen and (max-width: 580px) {
        font-size: 15px;
      }

      @media screen and (max-width: 510px) {
        font-size: 13px;
      }

      @media screen and (max-width: 450px) {
        font-size: 10px;
      }

      > h1 {
        font-weight: 500;
        text-transform: capitalize;
      }
    }

    &-buttons {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;

      .first__btn,
      .second__btn {
        text-decoration: none;
        color: #fff;
        padding: 10px 24px;
        border-radius: 4px;
        font-weight: 600;
        font-size: 18px;
        background: $primary-color;
        border: 2px solid $primary-color;
        transition: all 0.2s ease-in-out;

        &:hover {
          background-color: transparent;
          border: 2px solid #fff;
        }

        @media screen and (max-width: 680px) {
          font-size: 16px;
          padding: 6px 18px;
        }

        @media screen and (max-width: 580px) {
          font-size: 15px;
          padding: 6px 14px;
          font-weight: 500;
        }

        @media screen and (max-width: 510px) {
          font-size: 14px;
          padding: 6px 12px;
          font-weight: 500;
        }

        @media screen and (max-width: 450px) {
          font-size: 13px;
          padding: 6px 10px;
          font-weight: normal;
        }
      }
    }
  }

  .who-we-are {
    position: relative;
    width: 100%;
    height: 600px;
    border: 1px solid;
    margin-top: 160px;
    border-image-slice: 1;
    display: flex;
    justify-content: center;
    border-image-source: linear-gradient(
      90.31deg,
      #072e97 0.33%,
      rgb(19, 55, 144) 14.62%,
      #0f3dba 41.41%,
      #133287 63.89%
    );

    @media screen and (max-width: 930px) {
      height: 550px;
      margin-top: 100px;
    }

    @media screen and (max-width: 845px) {
      height: 850px;
    }

    @media screen and (max-width: 700px) {
      height: 800px;
    }

    @media screen and (max-width: 585px) {
      height: 850px;
      margin-top: 60px;
    }

    &__wrap {
      position: absolute;
      top: -60px;
      width: 90%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-left: 15px;
      border-radius: 2px;
      background: linear-gradient(
        90.31deg,
        #072e97 0.33%,
        rgb(19, 55, 144) 14.62%,
        #0f3dba 41.41%,
        #133287 63.89%
      );

      @media screen and (max-width: 930px) {
        top: -30px;
        width: 95%;
      }

      @media screen and (max-width: 845px) {
        flex-direction: column;
        gap: 20px;
        padding: 0;
      }

      @media screen and (max-width: 585px) {
        top: -15px;
        gap: 0;
      }
    }

    &__left {
      width: 46%;
      height: 85%;

      @media screen and (max-width: 1250px) {
        height: 80%;
      }

      @media screen and (max-width: 1170px) {
        height: 75%;
      }

      @media screen and (max-width: 1100px) {
        height: 70%;
      }

      @media screen and (max-width: 845px) {
        width: 60%;
      }

      @media screen and (max-width: 610px) {
        width: 320px;
      }

      @media screen and (max-width: 430px) {
        width: 300px;
      }
    }

    &__img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    &__right {
      width: 50%;
      height: 85%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 20px;
      padding-right: 50px;

      @media screen and (max-width: 1340px) {
        padding-right: 30px;
      }

      @media screen and (max-width: 1295px) {
        padding-right: 20px;
      }

      @media screen and (max-width: 1160px) {
        gap: 10px;
      }

      @media screen and (max-width: 845px) {
        width: 100%;
        align-items: center;
        justify-content: space-evenly;
        gap: 10px;
        padding: 0 10px;
      }

      @media screen and (max-width: 420px) {
        gap: 5px;
      }
    }

    .title__wrap {
      display: flex;
      flex-direction: column;
    }

    .right__subtitle {
      font-family: "Niconne";
      font-size: 45px;
      color: #9a8f8f;
      margin-bottom: -24px;

      @media screen and (max-width: 1030px) {
        font-size: 35px;
      }

      @media screen and (max-width: 610px) {
        font-size: 30px;
        margin-bottom: -20px;
      }

      @media screen and (max-width: 510px) {
        font-size: 27px;
      }

      @media screen and (max-width: 430px) {
        font-size: 25px;
      }
    }

    .right__title {
      font-family: "Playfair";
      font-size: 70px;
      color: #fff;

      @media screen and (max-width: 1030px) {
        font-size: 60px;
      }

      @media screen and (max-width: 610px) {
        font-size: 50px;
      }

      @media screen and (max-width: 510px) {
        font-size: 45px;
      }

      @media screen and (max-width: 430px) {
        font-size: 40px;
      }
    }

    .content__wrap {
      display: flex;
      flex-direction: column;
      gap: 20px;

      @media screen and (max-width: 510px) {
        gap: 15px;
      }

      @media screen and (max-width: 465px) {
        gap: 10px;
      }
    }

    .content__top {
      font-size: 18px;
      word-spacing: 2px;
      color: #fff;
      line-height: 27px;
      letter-spacing: 1px;

      @media screen and (max-width: 1210px) {
        word-spacing: 1px;
        line-height: 24px;
      }

      @media screen and (max-width: 1075px) {
        font-size: 17px;
        line-height: 22px;
      }

      @media screen and (max-width: 895px) {
        font-size: 16px;
        line-height: 20px;
      }

      @media screen and (max-width: 845px) {
        text-align: center;
      }

      @media screen and (max-width: 465px) {
        font-size: 15px;
      }

      @media screen and (max-width: 405px) {
        line-height: 18px;
      }
    }

    .content__bottom {
      color: #fff;
      font-weight: bolder;
      font-size: 18px;
      line-height: 26px;
      word-spacing: 1px;

      @media screen and (max-width: 1275px) {
        font-size: 17px;
      }

      @media screen and (max-width: 930px) {
        font-size: 16px;
        line-height: 24px;
      }

      @media screen and (max-width: 845px) {
        text-align: center;
      }

      @media screen and (max-width: 465px) {
        font-size: 15px;
        line-height: 21px;
      }
    }

    .right__btn {
      display: flex;
      align-items: center;
    }

    .content__link {
      text-decoration: none;
      color: #fff;
      border: 2px solid #fff;
      padding: 10px 24px;
      font-size: 18px;
      font-weight: bolder;
      transition: all 0.2s ease-in-out;

      &:hover {
        background-color: #fff;
        color: $primary-color;
      }

      @media screen and (max-width: 585px) {
        padding: 10px 20px;
        font-size: 17px;
        border: 1px solid #fff;
      }

      @media screen and (max-width: 465px) {
        font-size: 15px;
      }
    }
  }

  .interior-design-studio {
    margin: 120px 0 160px 0;
    width: 100%;
    height: 160px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $secondary-color;

    @media screen and (max-width: 845px) {
      margin: 120px 0 0 0;
    }

    .studio__wrap {
      width: 100%;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .content__wrap {
      position: relative;
      width: 60%;
      display: flex;
      align-items: center;
      justify-content: center;

      @media screen and (max-width: 710px) {
        width: 80%;
      }

      @media screen and (max-width: 550px) {
        width: 90%;
      }
    }

    .quotation-icon {
      position: absolute;
      top: -10px;
      left: -10px;

      @media screen and (max-width: 845px) {
        top: -30px;
        left: 50%;
      }
    }

    &__text {
      text-align: center;
      width: 100%;
      font-size: 30px;
      line-height: 40px;
      font-style: italic;
      font-family: PlayFair !important;
      color: #fff;

      @media screen and (max-width: 845px) {
        line-height: 32px;
      }

      @media screen and (max-width: 780px) {
        line-height: 30px;
        font-size: 27px;
      }

      @media screen and (max-width: 550px) {
        line-height: 26px;
        font-size: 24px;
      }

      @media screen and (max-width: 445px) {
        line-height: 24px;
        font-size: 22px;
      }
    }
  }

  .consultation {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    height: 520px;
    margin-top: 100px !important;

    @media screen and (max-width: 845px) {
      flex-direction: column-reverse;
      margin: 0 !important;
      height: 750px;
    }

    &__left {
      width: 40%;
      height: 100%;
      display: flex;
      flex-direction: column;
      padding-top: 50px;
      gap: 30px;

      @media screen and (max-width: 990px) {
        padding-top: 20px;
      }

      @media screen and (max-width: 862px) {
        width: 45%;
      }

      @media screen and (max-width: 845px) {
        width: 100%;
        align-items: center;
      }

      @media screen and (max-width: 520px) {
        gap: 20px;
        height: 80%;
      }
    }

    .title-top {
      font-family: "Niconne";
      font-size: 50px;
      color: #9a8f8f;
      margin-bottom: -22px;

      @media screen and (max-width: 1160px) {
        font-size: 40px;
      }

      @media screen and (max-width: 1060px) {
        font-size: 35px;
      }

      @media screen and (max-width: 962px) {
        font-size: 30px;
        margin-bottom: -19px;
      }

      @media screen and (max-width: 450px) {
        font-size: 27px;
        margin-bottom: -17px;
      }
    }

    .title-bottom {
      font-family: "PlayFair";
      font-size: 60px;
      color: $primary-color;

      @media screen and (max-width: 1265px) {
        font-size: 55px;
      }

      @media screen and (max-width: 1160px) {
        font-size: 50px;
      }

      @media screen and (max-width: 1060px) {
        font-size: 45px;
      }

      @media screen and (max-width: 962px) {
        font-size: 40px;
      }

      @media screen and (max-width: 450px) {
        font-size: 35px;
      }
    }

    .content-item {
      font-size: 18px;
      word-spacing: 1px;
      line-height: 28px;
      color: #0e0e0e;

      @media screen and (max-width: 845px) {
        text-align: center;
      }

      @media screen and (max-width: 520px) {
        line-height: 24px;
      }

      @media screen and (max-width: 450px) {
        line-height: 24px;
        font-size: 16px;
      }
    }

    &__btn {
      display: flex;
    }

    .get-consultation {
      text-decoration: none;
      color: $primary-color;
      border: 2px solid $primary-color;
      padding: 12px 24px;
      font-size: 18px;
      font-weight: bolder;
      transition: all 0.2s ease-in-out;

      &:hover {
        background-color: $primary-color;
        color: #fff;
      }

      @media screen and (max-width: 450px) {
        border: 1px solid $primary-color;
        font-size: 16px;
        padding: 10px 20px;
        font-weight: normal;
      }
    }

    &__right {
      width: 50%;
      height: 100%;
      border: 1px solid $primary-color;

      @media screen and (max-width: 920px) {
        width: 45%;
      }

      @media screen and (max-width: 845px) {
        width: 100%;
        border: none;
        height: 400px;
      }
    }

    .right__img {
      width: 680px;
      height: 100%;
      position: absolute;
      top: -40px;
      right: 50px;
      object-fit: cover;

      @media screen and (max-width: 1300px) {
        width: 600px;
      }

      @media screen and (max-width: 1180px) {
        width: 550px;
      }

      @media screen and (max-width: 1075px) {
        width: 500px;
      }

      @media screen and (max-width: 990px) {
        width: 450px;
      }

      @media screen and (max-width: 920px) {
        width: 400px;
        top: -20px;
        right: 25px;
      }

      @media screen and (max-width: 862px) {
        width: 360px;
        top: -20px;
        right: 25px;
      }

      @media screen and (max-width: 845px) {
        width: 100%;
        height: 100%;
        position: static;
      }
    }
  }

  .video-wrap {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    gap: 20px;

    @media screen and (max-width: 845px) {
      margin-top: 50px;
    }

    @media screen and (max-width: 550px) {
      margin-top: 30px;
    }

    @media screen and (max-width: 520px) {
      margin-top: 0;
    }

    &__title {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .title-top {
      font-family: "Niconne";
      font-size: 50px;
      color: #9a8f8f;
      margin-bottom: -20px;

      @media screen and (max-width: 845px) {
        font-size: 40px;
      }

      @media screen and (max-width: 700px) {
        font-size: 30px;
        margin-bottom: -16px;
      }

      @media screen and (max-width: 525px) {
        font-size: 20px;
        margin-bottom: -13px;
      }
    }

    .title-bottom {
      font-family: "PlayFair";
      font-size: 60px;
      color: $primary-color;

      @media screen and (max-width: 845px) {
        font-size: 50px;
      }

      @media screen and (max-width: 700px) {
        font-size: 40px;
      }

      @media screen and (max-width: 525px) {
        font-size: 30px;
      }
    }

    .title-between {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 6px;
      margin-top: -5px;
    }
  }

  .complate-projects {
    position: relative;
    width: 100%;
    padding: 30px 0;
    margin-top: 100px;
    background: linear-gradient(
      90.31deg,
      #072e97 0.33%,
      rgb(19, 55, 144) 14.62%,
      #0f3dba 41.41%,
      #133287 63.89%
    );

    .swiper-wrapper {
      height: 420px;
    }

    &-top {
      display: flex;
      justify-content: center;
      margin-bottom: 50px;
    }

    &-title {
      font-family: "Niconne";
      font-size: 70px;
      color: #fff;

      @media screen and (max-width: 845px) {
        font-size: 60px;
      }

      @media screen and (max-width: 600px) {
        font-size: 50px;
      }

      @media screen and (max-width: 485px) {
        font-size: 40px;
      }
    }

    &-swiper {
      width: 100%;
      padding: 0 30px;

      @media screen and (max-width: 1000px) {
        padding: 0 20px;
      }

      @media screen and (max-width: 560px) {
        padding: 0 10px;
      }

      @media screen and (max-width: 450px) {
        padding: 0;
      }
    }

    .projects-swiper {
      padding: 20px 0;
    }

    .project-slide {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 0 15px;

      img {
        width: 100%;
        height: 300px;
        object-fit: cover;
        border-radius: 8px;
        margin-bottom: 20px;
        transition: transform 0.3s ease;

        &:hover {
          transform: scale(1.01);

          @media screen and (max-width: 845px) {
            transform: none;
          }
        }
      }

      h2 {
        color: white;
        font-family: Playfair;
        font-size: 30px;
        text-align: center;

        @media screen and (max-width: 965px) {
          font-size: 27px;
        }

        @media screen and (max-width: 890px) {
          font-size: 25px;
        }
      }
    }

    .swiper-pagination-horizontal {
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 20px;
      bottom: 10px !important;
      z-index: 10000;
      width: 100%;
      height: 22px;
      opacity: 1;
      margin: 0 5px;
      transition: all 0.3s ease;
    }

    .swiper-pagination-bullet-active {
      background: white;
      transform: scale(1.1);
    }
  }

  .showroom {
    margin-top: 100px;
    width: 100%;
    height: 450px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;

    @media screen and (max-width: 1060px) {
      gap: 20px;
    }

    @media screen and (max-width: 880px) {
      flex-direction: column;
      margin-top: 0;
      height: auto;
      gap: 30px;
    }

    &-left {
      width: 55%;
      height: 100%;
      border: 1px solid $primary-color;
      padding: 60px 40px 15px 40px;

      @media screen and (max-width: 1060px) {
        width: 58%;
      }

      @media screen and (max-width: 1200px) {
        padding: 40px 20px 10px 20px;
      }

      @media screen and (max-width: 880px) {
        padding: 0;
        width: 100%;
        border: none;
      }
    }

    .left-video {
      width: 100%;
      height: 100%;
      object-fit: cover;

      @media screen and (max-width: 1160px) {
        height: 90%;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      @media screen and (max-width: 880px) {
        height: 100%;
      }
    }

    &-right {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 40%;
      height: 100%;

      @media screen and (max-width: 880px) {
        width: 100%;
        gap: 20px;
        align-items: center;
        border: 1px solid $primary-color;
        padding: 30px 10px 50px 10px;
      }
    }

    .title-top {
      font-family: "Niconne";
      font-size: 40px;
      color: #9a8f8f;
      margin-bottom: -30px;

      @media screen and (max-width: 975px) {
        margin-bottom: -35px;
        font-size: 35px;
      }

      @media screen and (max-width: 880px) {
        margin-bottom: -35px;
        font-size: 35px;
        text-align: center;
      }

      @media screen and (max-width: 600px) {
        margin-bottom: -35px;
        font-size: 30px;
      }
    }

    .title-bottom {
      font-family: "PlayFair";
      font-size: 70px;
      color: $primary-color;

      @media screen and (max-width: 975px) {
        font-size: 60px;
      }

      @media screen and (max-width: 880px) {
        font-size: 75px;
        text-align: center;
      }

      @media screen and (max-width: 600px) {
        font-size: 60px;
      }
    }

    .right-content {
      line-height: 27px;
      font-size: 18px;
      font-family: "Lato";

      @media screen and (max-width: 1210px) {
        line-height: 24px;
      }

      @media screen and (max-width: 1090px) {
        line-height: 22px;
        font-size: 17px;
      }

      @media screen and (max-width: 955px) {
        line-height: 21px;
        font-size: 17px;
      }

      @media screen and (max-width: 880px) {
        line-height: 24px;
        font-size: 20px;
        text-align: center;
      }
    }

    .right-btns {
      display: flex;
      align-items: center;
      gap: 10px;

      @media screen and (max-width: 905px) {
        gap: 5px;
      }

      @media screen and (max-width: 880px) {
        gap: 10px;
        justify-content: center;
      }

      @media screen and (max-width: 600px) {
        flex-direction: column;
      }
    }

    .btn-left {
      color: #fff;
      font-weight: bolder;
      font-size: 20px;
      padding: 10px 16px;
      text-decoration: none;
      border: 2px solid $secondary-color;
      background: linear-gradient(
        90.31deg,
        #072e97 0.33%,
        rgb(19, 55, 144) 14.62%,
        #0f3dba 41.41%,
        #133287 63.89%
      );
      transition: all 0.2s ease-in-out;

      &:hover {
        background: #fff;
        color: $primary-color;
        border: 2px solid $primary-color;
      }

      @media screen and (max-width: 1210px) {
        font-size: 18px;
      }

      @media screen and (max-width: 1145px) {
        font-size: 17px;
      }

      @media screen and (max-width: 1060px) {
        font-size: 16px;
        padding: 7px 10px;
      }

      @media screen and (max-width: 955px) {
        font-size: 15px;
        padding: 6px 10px;
        font-weight: normal;
      }

      @media screen and (max-width: 905px) {
        font-size: 15px;
        padding: 6px 10px;
        font-weight: normal;
        text-align: center;
      }

      @media screen and (max-width: 880px) {
        font-size: 20px;
        font-weight: normal;
        padding: 10px 14px;
      }

      @media screen and (max-width: 600px) {
        font-size: 18px;
        padding: 8px 10px;
      }

      @media screen and (max-width: 500px) {
        font-size: 16px;
        padding: 8px;
      }
    }

    .btn-right {
      color: $primary-color;
      font-weight: bolder;
      font-size: 20px;
      padding: 10px 16px;
      text-decoration: none;
      border: 2px solid $primary-color;
      transition: all 0.2s ease-in-out;

      &:hover {
        background: #072e97 0.33%;
        color: #fff;
        border: 2px solid #fff;
      }

      @media screen and (max-width: 1210px) {
        font-size: 18px;
      }

      @media screen and (max-width: 1145px) {
        font-size: 17px;
      }

      @media screen and (max-width: 1060px) {
        font-size: 16px;
        padding: 7px 10px;
      }

      @media screen and (max-width: 955px) {
        font-size: 15px;
        padding: 6px 10px;
        font-weight: normal;
      }

      @media screen and (max-width: 955px) {
        text-align: center;
      }

      @media screen and (max-width: 880px) {
        font-size: 20px;
        padding: 10px 14px;
        font-weight: normal;
      }

      @media screen and (max-width: 600px) {
        font-size: 18px;
        padding: 8px 10px;
      }

      @media screen and (max-width: 500px) {
        font-size: 16px;
        padding: 8px;
      }
    }
  }

  .imagine {
    position: relative;
    width: 100%;
    height: 540px;
    margin-top: 130px;

    @media screen and (max-width: 845px) {
      height: 400px;
      margin-top: 30px;
    }

    @media screen and (max-width: 530px) {
      height: 300px;
    }

    &-back {
      background-image: url("/ComplateProject1.png");
      width: 100%;
      height: 100%;
      background-attachment: fixed;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;

      @media screen and (max-width: 845px) {
        background-attachment: local;
      }
    }

    &-title {
      position: absolute;
      bottom: 35px;
      width: 100%;
      text-align: center;
      color: #fff;
      font-family: "Playfair";
      font-size: 60px;

      @media screen and (max-width: 845px) {
        font-size: 50px;
      }

      @media screen and (max-width: 700px) {
        font-size: 40px;
      }

      @media screen and (max-width: 530px) {
        font-size: 30px;
      }

      @media screen and (max-width: 400px) {
        font-size: 25px;
      }
    }
  }

  .imagine-after {
    margin-top: 100px;
    width: 100%;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;

    @media screen and (max-width: 600px) {
      margin-top: 50px;
    }

    &__wrap {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &-content {
      font-family: Playfair;
      font-style: italic;
      font-size: 30px;
      text-align: center;
      width: 770px;

      @media screen and (max-width: 1000px) {
        width: 600px;
      }

      @media screen and (max-width: 780px) {
        width: 500px;
        font-size: 27px;
      }

      @media screen and (max-width: 600px) {
        width: 420px;
        font-size: 23px;
      }

      @media screen and (max-width: 470px) {
        width: 320px;
        font-size: 20px;
      }
    }

    &-icon {
      position: absolute;
      top: -20px;
      left: -30px;

      @media screen and (max-width: 780px) {
        left: 50%;
        top: -30px;
      }
    }
  }

  .our-world {
    width: 100%;
    height: 700px;
    margin-top: 100px;
    border: 1px solid $primary-color;
    display: flex;
    align-items: center;
    gap: 30px;
    padding: 85px 55px 40px 55px;

    @media screen and (max-width: 1170px) {
      padding: 60px 30px 0px 30px;
    }

    @media screen and (max-width: 1000px) {
      padding: 0 20px;
      height: 600px;
    }

    @media screen and (max-width: 845px) {
      flex-direction: column-reverse;
      height: auto;
      border: none;
      padding: 0;
    }

    @media screen and (max-width: 600px) {
      margin-top: 50px;
    }

    &-left {
      width: 40%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: start;
      gap: 30px;

      @media screen and (max-width: 845px) {
        width: 95%;
        align-items: center;
        padding: 80px 20px 30px 20px;
        margin-top: -90px;
        border: 1px solid $primary-color;
      }
    }

    .left-title {
      font-size: 70px;
      font-family: "Playfair";
      color: $primary-color;

      @media screen and (max-width: 910px) {
        font-size: 60px;
      }

      @media screen and (max-width: 600px) {
        font-size: 50px;
      }

      @media screen and (max-width: 500px) {
        font-size: 40px;
      }
    }

    .left-content {
      line-height: 26px;
      font-size: 19px;

      @media screen and (max-width: 845px) {
        text-align: center;
      }

      @media screen and (max-width: 600px) {
        font-size: 18px;
      }

      @media screen and (max-width: 500px) {
        font-size: 17px;
      }
    }

    .left-btn {
      text-align: center;
      text-decoration: none;
      border: 2px solid $primary-color;
      font-size: 19px;
      padding: 14px 46px;
      font-weight: bolder;
      color: $primary-color;
      transition: all 0.2s ease-in-out;

      &:hover {
        background-color: $primary-color;
        color: #fff;
      }

      @media screen and (max-width: 500px) {
        font-size: 17px;
        padding: 10px 30px;
      }
    }

    &-right {
      width: 60%;
      height: 100%;

      @media screen and (max-width: 1170px) {
        height: 90%;
      }

      @media screen and (max-width: 1000px) {
        height: 80%;
      }

      @media screen and (max-width: 845px) {
        width: 100%;
      }

      > img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  .testimonials {
    margin-top: 120px;
    width: 100%;
    height: 580px;
    display: flex;
    flex-direction: column;

    @media screen and (max-width: 845px) {
      height: auto;
      margin-top: 80px;
    }

    &-title {
      text-align: center;
      color: $primary-color;
      font-weight: 500;
      font-size: 60px;
      font-family: Playfair;

      @media screen and (max-width: 845px) {
        font-size: 50px;
      }

      @media screen and (max-width: 600px) {
        font-size: 40px;
      }
    }

    &-swiper {
      margin-top: 30px;
      height: 100%;

      @media screen and (max-width: 845px) {
        margin-top: 10px;
      }
    }

    .swiper-wrapper {
      height: 80%;
      width: 100%;
      position: relative;
    }

    .swiper {
      width: 100%;
      height: 100%;

      > .swiper-pagination {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 35px;
        padding-left: 50px;
        position: absolute;
        bottom: 0px;

        @media screen and (max-width: 845px) {
          padding: 0;
        }

        @media screen and (max-width: 425px) {
          gap: 15px;
        }
      }

      .swiper-pagination-bullet {
        width: 20px;
        height: 20px;
        border: 3px solid $secondary-color;
        background: transparent;
        opacity: 1;

        @media screen and (max-width: 845px) {
          width: 16px;
          height: 16px;
          border: 1px solid $secondary-color;
        }

        &-active {
          background-color: $secondary-color !important;
        }
      }
    }

    .swiper-slide {
      width: 100%;
      height: 100%;
      padding: 0 100px;

      @media screen and (max-width: 1250px) {
        padding: 0 50px;
      }

      @media screen and (max-width: 1000px) {
        padding: 0px;
      }
    }

    .slide-wrap {
      display: flex;
      gap: 100px;
      width: 100%;
      height: 100%;

      @media screen and (max-width: 1000px) {
        gap: 60px;
      }

      @media screen and (max-width: 845px) {
        flex-direction: column;
        gap: 40px;
      }
    }

    .slide-img {
      width: 50%;
      height: 100%;

      @media screen and (max-width: 900px) {
        height: 95%;
      }

      @media screen and (max-width: 845px) {
        width: 100%;
        height: 400px;
      }

      @media screen and (max-width: 470px) {
        height: 370px;
      }

      @media screen and (max-width: 440px) {
        height: 350px;
      }

      @media screen and (max-width: 420px) {
        height: 320px;
      }
    }

    .slider__img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .slide-content {
      position: relative;
      width: 50%;
      display: flex;
      flex-direction: column;
      gap: 30px;

      @media screen and (max-width: 1110px) {
        gap: 20px;
      }

      @media screen and (max-width: 845px) {
        width: 100%;
        align-items: center;
        gap: 20px;
        padding: 0 20px;
        height: 450px;
      }

      @media screen and (max-width: 520px) {
        height: 470px;
      }

      @media screen and (max-width: 445px) {
        height: 500px;
      }
    }

    .content-title {
      display: flex;
      align-items: center;
      padding-top: 15px;
    }

    .slide-content-title {
      font-style: italic;
      font-family: Lato;
      font-size: 30px;
      font-weight: 300;

      @media screen and (max-width: 845px) {
        font-size: 35px;
      }

      @media screen and (max-width: 580px) {
        font-size: 25px;
      }
    }

    .quotation-icon {
      position: absolute;
      left: -34px;
      top: 0;
      z-index: 1000;

      @media screen and (max-width: 845px) {
        left: 50%;
        top: -15px;
      }
    }

    .content-text {
      display: flex;
      flex-direction: column;
      gap: 20px;

      @media screen and (max-width: 470px) {
        gap: 10px;
      }

      .first {
        font-family: Lato;
        line-height: 26px;
        font-size: 17px;

        @media screen and (max-width: 1065px) {
          line-height: 24px;
        }

        @media screen and (max-width: 845px) {
          font-size: 26px;
          font-weight: 300;
          line-height: 30px;
        }

        @media screen and (max-width: 800px) {
          font-size: 23px;
        }

        @media screen and (max-width: 720px) {
          font-size: 20px;
        }

        @media screen and (max-width: 640px) {
          font-size: 18px;
          line-height: 24px;
        }

        @media screen and (max-width: 425px) {
          line-height: 22px;
        }
      }

      .subtitle {
        font-style: italic;
        font-family: Lato;
        font-size: 18px;
        font-weight: 300;

        @media screen and (max-width: 845px) {
          font-size: 24px;
        }

        @media screen and (max-width: 720px) {
          font-size: 20px;
        }
      }
    }
  }

  .map-container {
    margin-top: 170px;
    width: 100%;
    height: 500px;

    @media screen and (max-width: 845px) {
      height: 400px;
      margin-top: 100px;
    }

    @media screen and (max-width: 600px) {
      height: 350px;
    }
  }
}
