.dashboard {
  width: 100%;

  &__swiper {
    position: relative;
  }

  .interior-design {
    &-body {
      width: 100%;
      position: absolute;
      bottom: 80px;
      z-index: 10;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 15px;
    }

    &-title {
      color: #fff;
      font-family: "Playfair Display SC";
      font-size: 30px;

      > h1 {
        font-weight: 500;
        text-transform: capitalize;
      }
    }

    &-buttons {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;

      .first__btn,
      .second__btn {
        text-decoration: none;
        color: #fff;
        padding: 10px 24px;
        border-radius: 4px;
        font-weight: 600;
        font-size: 18px;

        background: $primary-color;
        border: 2px solid $primary-color;
        transition: all 0.2s ease-in-out;

        &:hover {
          background-color: transparent;
          border: 2px solid #fff;
        }
      }
    }
  }

  .who-we-are {
    position: relative;
    width: 100%;
    height: 600px;
    border: 1px solid;
    border-image-source: linear-gradient(
      90.31deg,
      #072e97 0.33%,
      rgb(19, 55, 144) 14.62%,
      #0f3dba 41.41%,
      #133287 63.89%
    );
    margin-top: 160px;
    border-image-slice: 1;
    display: flex;
    justify-content: center;

    &__wrap {
      position: absolute;
      top: -60px;
      width: 90%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-left: 15px;
      border-radius: 2px;
      background: linear-gradient(
        90.31deg,
        #072e97 0.33%,
        rgb(19, 55, 144) 14.62%,
        #0f3dba 41.41%,
        #133287 63.89%
      );
    }

    &__left {
      width: 46%;
      height: 85%;
    }

    &__img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    &__right {
      width: 50%;
      height: 85%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 20px;
      padding-right: 50px;
    }

    .title__wrap {
      display: flex;
      flex-direction: column;
    }

    .right__subtitle {
      font-family: "Niconne";
      font-size: 45px;
      color: #9a8f8f;
      margin-bottom: -24px;
    }

    .right__title {
      font-family: "Playfair";
      font-size: 70px;
      color: #fff;
    }

    .content__wrap {
      display: flex;
      flex-direction: column;
      gap: 20px;
    }

    .content__top {
      font-size: 18px;
      word-spacing: 2px;
      color: #fff;
      line-height: 27px;
      letter-spacing: 1px;
    }

    .content__bottom {
      color: #fff;
      font-weight: bolder;
      font-size: 18px;
      line-height: 26px;
      word-spacing: 1px;
    }

    .right__btn {
      display: flex;
      align-items: center;
    }

    .content__link {
      text-decoration: none;
      color: #fff;
      border: 2px solid #fff;
      padding: 10px 24px;
      font-size: 18px;
      font-weight: bolder;
      transition: all 0.2s ease-in-out;

      &:hover {
        background-color: #fff;
        color: $primary-color;
      }
    }
  }

  .interior-design-studio {
    position: relative;
    margin: 120px 0 160px 0;
    width: 100%;
    height: 160px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $secondary-color;

    .quotation-icon {
      position: absolute;
      top: 30px;
      left: 330px;
    }

    &__text {
      text-align: center;
      width: 50%;
      font-size: 30px;
      line-height: 40px;
      font-style: italic;
      font-family: PlayFair !important;
      color: #fff;
    }
  }

  .consultation {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 520px;
    margin-top: 100px !important;

    &__left {
      width: 40%;
      height: 100%;
      display: flex;
      flex-direction: column;
      padding-top: 50px;
      gap: 30px;
    }

    .title-top {
      font-family: "Niconne";
      font-size: 50px;
      color: #9a8f8f;
      margin-bottom: -22px;
    }

    .title-bottom {
      font-family: "PlayFair";
      font-size: 60px;
      color: $primary-color;
    }

    .content-item {
      font-size: 18px;
      word-spacing: 1px;
      line-height: 28px;
      color: #0e0e0e;
    }

    &__btn {
      display: flex;
    }

    .get-consultation {
      text-decoration: none;
      color: $primary-color;
      border: 2px solid $primary-color;
      padding: 12px 24px;
      font-size: 18px;
      font-weight: bolder;
      transition: all 0.2s ease-in-out;

      &:hover {
        background-color: $primary-color;
        color: #fff;
      }
    }

    &__right {
      width: 50%;
      height: 100%;
      border: 1px solid $primary-color;
    }

    .right__img {
      width: 680px;
      height: 100%;
      position: absolute;
      top: -40px;
      right: 50px;
      object-fit: cover;
    }
  }

  .video-wrap {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    gap: 20px;

    &__title {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .title-top {
      font-family: "Niconne";
      font-size: 50px;
      color: #9a8f8f;
      margin-bottom: -20px;
    }

    .title-bottom {
      font-family: "PlayFair";
      font-size: 60px;
      color: $primary-color;
    }

    .title-between {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 6px;
      margin-top: -5px;
    }
  }

  .complate-projects {
    position: relative;
    width: 100%;
    padding: 30px 0;
    margin-top: 100px;
    background: linear-gradient(
      90.31deg,
      #072e97 0.33%,
      rgb(19, 55, 144) 14.62%,
      #0f3dba 41.41%,
      #133287 63.89%
    );

    .swiper-wrapper {
      height: 420px;
    }

    &-top {
      display: flex;
      justify-content: center;
      margin-bottom: 50px;
    }

    &-title {
      font-family: "Niconne";
      font-size: 70px;
      color: #fff;
    }

    &-swiper {
      width: 100%;
      padding: 0 30px;
    }

    .projects-swiper {
      padding: 20px 0;
    }

    .project-slide {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 0 15px;

      img {
        width: 100%;
        height: 300px;
        object-fit: cover;
        border-radius: 8px;
        margin-bottom: 20px;
        transition: transform 0.3s ease;
        cursor: grab;

        &:hover {
          transform: scale(1.01);
        }
      }

      h2 {
        color: white;
        font-family: Playfair;
        font-size: 30px;
        text-align: center;
      }
    }

    .swiper-pagination-horizontal {
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 20px;
      bottom: 10px !important;
      z-index: 10000;
      width: 100%;
      height: 22px;
      opacity: 1;
      margin: 0 5px;
      transition: all 0.3s ease;
    }

    .swiper-pagination-bullet-active {
      background: white;
      transform: scale(1.1);
    }
  }

  @media (max-width: 768px) {
    padding: 50px 0;

    &-swiper {
      padding: 0 20px;
    }

    .project-slide {
      img {
        height: 250px;
      }

      h3 {
        font-size: 20px;
      }
    }
  }

  .showroom {
    margin-top: 100px;
    width: 100%;
    height: 450px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;

    &-left {
      width: 55%;
      height: 100%;
      border: 1px solid $primary-color;
      padding: 60px 40px 15px 40px;
    }

    .left-video {
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: inline;
    }

    &-right {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 40%;
      height: 100%;
    }

    .title-top {
      font-family: "Niconne";
      font-size: 40px;
      color: #9a8f8f;
      margin-bottom: -30px;
    }

    .title-bottom {
      font-family: "PlayFair";
      font-size: 70px;
      color: $primary-color;
    }

    .right-content {
      line-height: 27px;
      font-size: 18px;
    }

    .right-btns {
      display: flex;
      align-items: center;
      gap: 10px;
    }

    .btn-left {
      color: #fff;
      font-weight: bolder;
      font-size: 20px;
      padding: 10px 16px;
      text-decoration: none;
      border: 2px solid $primary-color;
      background: linear-gradient(
        90.31deg,
        #072e97 0.33%,
        rgb(19, 55, 144) 14.62%,
        #0f3dba 41.41%,
        #133287 63.89%
      );
      transition: all 0.2s ease-in-out;

      &:hover {
        background: #fff;
        color: $primary-color;
        border: 2px solid $primary-color;
      }
    }

    .btn-right {
      color: $primary-color;
      font-weight: bolder;
      font-size: 20px;
      padding: 10px 16px;
      text-decoration: none;
      border: 2px solid $primary-color;
      transition: all 0.2s ease-in-out;

      &:hover {
        background: #072e97 0.33%;
        color: #fff;
        border: 2px solid #fff;
      }
    }
  }

  .imagine {
    position: relative;
    width: 100%;
    height: 540px;
    margin-top: 130px;

    &-back {
      background-image: url("/ComplateProject4.png");
      width: 100%;
      height: 100%;
      background-attachment: fixed;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }

    &-title {
      position: absolute;
      bottom: 35px;
      width: 100%;
      text-align: center;
      color: #fff;
      font-family: "Playfair";
      font-size: 60px;
    }
  }

  .imagine-after {
    margin-top: 100px;
    position: relative;
    width: 100%;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;

    &-content {
      font-family: Playfair;
      font-style: italic;
      font-size: 30px;
      text-align: center;
      width: 770px;
    }

    &-icon {
      position: absolute;
      top: 20px;
      left: 260px;
    }
  }

  .our-world {
    width: 100%;
    height: 700px;
    margin-top: 100px;
    border: 1px solid $primary-color;
    display: flex;
    align-items: center;
    gap: 30px;
    padding: 85px 55px 40px 55px;

    &-left {
      width: 40%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: start;
      gap: 30px;
    }

    .left-title {
      font-size: 70px;
      font-family: "Playfair";
      color: $primary-color;
    }

    .left-content {
      line-height: 26px;
      font-size: 19px;
    }

    .left-btn {
      text-align: center;
      text-decoration: none;
      border: 2px solid $primary-color;
      font-size: 19px;
      padding: 14px 46px;
      font-weight: bolder;
      color: $primary-color;
      transition: all 0.2s ease-in-out;

      &:hover {
        background-color: $primary-color;
        color: #fff;
      }
    }

    &-right {
      width: 60%;
      height: 100%;

      > img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  .testimonials {
    margin-top: 120px;
    width: 100%;
    height: 580px;
    display: flex;
    flex-direction: column;

    &-title {
      text-align: center;
      color: $primary-color;
      font-weight: 500;
      font-size: 60px;
      font-family: Playfair;
    }

    &-swiper {
      margin-top: 30px;
      height: 100%;
    }

    .swiper-wrapper {
      height: 80%;
      width: 100%;
      position: relative;
    }

    .swiper {
      width: 100%;
      height: 100%;

      > .swiper-pagination {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 35px;
        padding-left: 50px;
        position: absolute;
        bottom: 40px;
      }

      .swiper-pagination-bullet {
        width: 20px;
        height: 20px;
        border: 3px solid $secondary-color;
        background: transparent;
        opacity: 1;

        &-active {
          background-color: $secondary-color !important;
        }
      }
    }

    .swiper-slide {
      width: 100%;
      height: 100%;
      padding: 0 100px;
    }

    .slide-wrap {
      display: flex;
      gap: 100px;
      width: 100%;
      height: 100%;
    }

    .slide-img {
      width: 50%;
      height: 100%;
    }

    .slider__img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .slide-content {
      position: relative;
      width: 50%;
      display: flex;
      flex-direction: column;
      gap: 70px;
    }

    .content-title {
      display: flex;
      align-items: center;
      padding-top: 15px;
    }

    .slide-content-title {
      font-style: italic;
      font-family: Lato;
      font-size: 30px;
      font-weight: 300;
    }

    .quotation-icon {
      position: absolute;
      left: -34px;
      top: 0;
      z-index: 1000;
    }

    .content-text {
      display: flex;
      flex-direction: column;
      gap: 20px;

      .first {
        font-family: Lato;
        line-height: 26px;
        font-size: 17px;
      }

      .subtitle {
        font-style: italic;
        font-family: Lato;
        font-size: 18px;
        font-weight: 300;
      }
    }
  }

  .map-container {
    margin-top: 170px;
    width: 100%;
    height: 500px;

    .map-iframe{
      width: 100%;
      height: 100%;
    }
  }
}
