.footer {
  width: 100%;
  height: 250px;
  background-color: #001745;

  @media screen and (max-width: 870px) {
    height: auto;
  }

  &-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10px 0 10px;
    width: 100%;
    height: 200px;

    @media screen and (max-width: 930px) {
      padding: 30px 0;
    }

    @media screen and (max-width: 870px) {
      flex-direction: column;
      height: auto;
    }
  }

  &-left {
    width: 20%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
    padding-top: 20px;

    @media screen and (max-width: 1150px) {
      width: 15%;
    }

    @media screen and (max-width: 870px) {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  &-right {
    display: flex;
    gap: 30px;
    width: 80%;
    height: 100%;

    @media screen and (max-width: 1215px) {
      gap: 20px;
    }

    @media screen and (max-width: 1180px) {
      gap: 10px;
    }

    @media screen and (max-width: 1150px) {
      width: 85%;
    }

    @media screen and (max-width: 1070px) {
      width: 80%;
    }

    @media screen and (max-width: 870px) {
      flex-direction: column;
      align-items: center;
      gap: 50px;
    }
  }

  .artistic-elements,
  .featured-links,
  .showroom-hours,
  .online-shop {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 300px;
  }

  .artistic-elements {
    @media screen and (max-width: 870px) {
      align-items: center;
    }
    &-title {
      color: #fff;
      font-weight: 500;
      font-size: 23px;

      @media screen and (max-width: 1365px) {
        font-size: 20px;
      }

      @media screen and (max-width: 870px) {
        font-size: 25px;
      }
    }

    &-links {
      display: flex;
      flex-direction: column;
      gap: 15px;
      margin-top: 10px;

      @media screen and (max-width: 870px) {
        align-items: center;
      }
    }

    .location {
      display: flex;
      align-items: center;
      gap: 5px;

      > a {
        text-decoration: none;
        color: #fff;
        font-weight: 300;
        font-size: 16px;

        @media screen and (max-width: 870px) {
          font-size: 17px;
        }
      }

      &-icon {
        @media screen and (max-width: 870px) {
          display: none;
        }
      }

      @media screen and (max-width: 870px) {
        text-align: center;
        justify-content: center;
      }
    }

    .tel,
    .email {
      display: flex;
      align-items: center;
      gap: 5px;

      > a {
        text-decoration: none;
        color: #fff;
        font-weight: 300;
        font-size: 16px;

        @media screen and (max-width: 870px) {
          font-size: 17px;
        }
      }

      &-icon {
        @media screen and (max-width: 870px) {
          display: none;
        }
      }
    }

    .email {
      > a {
        margin-left: 5px;
      }
    }
  }

  .showroom-hours {
    @media screen and (max-width: 870px) {
      align-items: center;
    }

    &-title {
      color: #fff;
      font-weight: 500;
      font-size: 23px;

      @media screen and (max-width: 1365px) {
        font-size: 20px;
      }

      @media screen and (max-width: 870px) {
        font-size: 25px;
      }
    }

    &-links {
      display: flex;
      flex-direction: column;
      gap: 28px;
      margin-top: 10px;

      @media screen and (max-width: 870px) {
        align-items: center;
        gap: 20px;
      }
    }

    .time-icon {
      width: 30px;
      height: 20px;

      @media screen and (max-width: 870px) {
        display: none;
      }
    }

    .working-time {
      display: flex;
      align-items: center;
      gap: 10px;

      &-text {
        font-size: 16px;
        color: #fff;

        @media screen and (max-width: 870px) {
          text-align: center;
          font-size: 17px;
        }
      }
    }

    .working-networks {
      margin-top: 10px;
      display: flex;
      align-items: end;
      gap: 20px;
    }
  }

  .featured-links {
    @media screen and (max-width: 1080px) {
      display: none;
    }
    &-title {
      color: #fff;
      font-weight: 500;
      font-size: 23px;

      @media screen and (max-width: 1365px) {
        font-size: 20px;
      }
    }

    .links-wrap {
      display: flex;
      flex-direction: column;
      gap: 25px;
    }

    .first,
    .second,
    .last {
      text-decoration: none;
      color: #fff;
      font-size: 18px;
    }
  }

  .online-shop {
    @media screen and (max-width: 870px) {
      align-items: center;
    }

    &-title {
      color: #fff;
      font-weight: 500;
      font-size: 23px;

      @media screen and (max-width: 1365px) {
        font-size: 20px;
      }

      @media screen and (max-width: 870px) {
        font-size: 25px;
      }
    }

    &-wrap {
      display: flex;
      flex-direction: column;
      gap: 25px;
      margin-top: 10px;

      @media screen and (max-width: 870px) {
        align-items: center;
      }
    }

    &-text {
      color: #fff;
      font-size: 18px;

      @media screen and (max-width: 870px) {
        text-align: center;
      }
    }

    &-link {
      text-decoration: none;
      color: #fff;
      border: 2px solid #fff;
      width: fit-content;
      padding: 10px 60px;
      font-size: 20px;
      font-weight: bolder;
      transition: all 0.2s ease-in-out;

      &:hover {
        background-color: #fff;
        color: $primary-color;
      }

      @media screen and (max-width: 1365px) {
        padding: 10px 40px;
        font-size: 18px;
      }
    }
  }
}
